form.ui.small.form.segment action='/tasks' method='post' style='width: 60%'
  .field
    label for='title' Description
    .ui.left.labeled.icon.input
      input type='text' name='title' id='title' placeholder='Description'
      i.user.icon

  .two.fields
    .inline.field
      label for='project_id' class='form-field' Project
      .ui.dropdown.selection
        input type='hidden' name='project_id' id='project_id'
        i.dropdown.icon
        .default.text select ...
        .menu
          - @projects.each do |project|
            .item data-value='#{project.rid}' = project.name

    .inline.field
      label for='tags' class='form-field' Tags
      - @tags.each do |tag|
        .ui.checkbox
          input type='checkbox' name='tags[]' id='tags-#{tag.rid}' value='#{tag.rid}'
          label.box for='tags-#{tag.rid}'
        label.ui.label class='#{cycle('purple', 'blue', 'red', 'green')}' for='tags-#{tag.rid}' = tag.name

  div
    input.ui.blue.submit.button type='submit' value='Create'
