a {
  color: #009FDA;
  text-decoration: none;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

form > div {
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type='text'] {
  font-size: 14px;
  width: 200px;
  border: solid 1px #00AAAA;
}

label.form-field {
  display: block;
  float: left;
  width: 100px;
}

p {
  margin: 0;
  padding; 0;
}

.empty-set {
  padding-left: 60px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 8px;
  padding-top: 8px;
}

.inline {
  display: inline;
}

.menu .item {
  margin: 0 4px;
}

.tag {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0 2px;
}

.tag-1 {
  background-color: #60D060;
}

.tag-2 {
  background-color: #8080F0;
}

.tag-3 {
  background-color: #D06060;
}

.tag-4 {
  background-color: #60D0D0;
}

.tag-label {
  padding-right: 10px;
}

.tasks-set {
  background-color: #EEEEEE;
  border: solid 1px grey;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 850px;
}

.tasks-set-header {
  color: #DDDDDD;
  font-size: 20px;
  font-weight: bold;
  background-color: #444444;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.tasks-set-body {
  color: #444444;
  margin-top: 0;
  margin-bottom: 0;
}

.tasks-set-member {
  display: inline;
  float: left;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
  margin-left: 5px;
  margin-right: 20px;
  border-bottom: solid 1px #BBAA88;
  height: 20px;
  background-color: #EEDDAA;
}
.tasks-set-row {
  padding-bottom: 4px;
  padding-top: 4px;
}

.tasks-set-row.even {
  background-color: ghostWhite;
}

.tasks-set-row.odd {
  background-color: #F4F4F4;
}

.tasks-set-project {
  font-weight: bold;
}

.tasks-set-project-label {
  font-style: italic;
}
