.ui.menu
  .ui.dropdown.active.item
    i.home.icon
    | Tasks
    i.dropdown.icon
    .menu
      a.item href='/' List
      a.item href='/tasks/new' Create
  .ui.dropdown.item
    i.mail.icon
    | Projects
    i.dropdown.icon
    .menu
      a.active.item href='/projects' List
      a.item href='/projects/new' Create
