table.ui.five.column.table.segment
  thead
    tr
      th.four.wide Description
      th.three.wide Project
      th.three.wide Tags
      th.two.wide

  tbody
    - tasks.each do |task|
      tr
        td = task.title

        td
          = task.project.name

        td
          - task.tags.each do |tag|
            span.ui.label class='#{cycle('green', 'red', 'blue', 'purple')}' = tag.name

        td
          - if complete
            form action='/tasks/#{rid_to_url(task.rid)}/complete' method='post' class='inline'
              input.ui.down.button.green.mini.compact type='submit' value='Complete'

          - if reject
            form action='/tasks/#{rid_to_url(task.rid)}/reject' method='post' class='inline'
              input.ui.down.button.red.mini type='submit' value='Reject'


    - if tasks.empty?
      p.empty-set No tasks available
