div style='width: 75%'
  div.ui.tabular.filter.menu
    a.item.active data-tab='pendings'
      | Pendings
      span.ui.green.label = @count_pending_tasks
    a.item data-tab='completed' Completed
    a.item data-tab='rejected' Rejected

  div.ui.divided.inbox.selection.list.tab.active data-tab='pendings'
    == slim :'_tasks', :locals => {:tasks => @pending_tasks, :reject => true, :complete => true }

  div.ui.divided.inbox.selection.list.tab data-tab='completed'
    == slim :'_tasks', :locals => {:tasks => @completed_tasks, :reject => false, :complete => false }

  div.ui.divided.inbox.selection.list.tab data-tab='rejected'
    == slim :'_tasks', :locals => {:tasks => @rejected_tasks, :reject => false, :complete => false }
