doctype html
html
  head
    title Your Pendings
    link href='/styles.css' rel='stylesheet' type='text/css'
    link href='/vendors/semantic/css/semantic.css' rel='stylesheet' type='text/css'
    script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js'
    script src='http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js'
    script src='/vendors/semantic/javascript/semantic.js'
    script src='/pendings.js'

  body
    h2.ui.header
      i.inbox.icon
      div.ui.black
        Your Pendings

    == slim :'_menu'

    == yield
