form.ui.small.form.segment action='/projects' method='post'
  .field
    label for='name' Name
    .ui.left.labeled.icon.input
      input type='text' name='name' id='name' placeholder='Name'
      i.user.icon

  div
    input.ui.blue.submit.button type='submit' value='Create'
